@charset "UTF-8";
/* CSS Document */

body {

background-color:#000000;
font-family:      Helvetica, 'Lucida Grande', sans-serif;
margin-left:auto;
margin-right:auto;
letter-spacing:0px;
border:solid 0px;
padding:0px;
font-weight:700;

}


#content {
	
	background-color:#FFFFFF;
	position:absolute;
	width:935px;
	padding:50px 20px 20px 20px;
	float:none;
	z-index:-1;
	border:solid 0px;
}

#header {
	color:#FFFFFF;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	padding:50px 0px 0px 0px;
	font-size:90px;
	font-weight:bold;
	letter-spacing:2px;
	
	float:none;
	border:solid 0px;
	position:relative;
	left:auto;
	right:auto;
	line-height:60px;
}

#wrapper {

	width:975px;
	padding:0px 0px 0px 0px;
	margin-left:auto;
	margin-right:auto;
	
	
	
}

#nav {
	margin-left:auto;
	margin-right:auto;
	padding:0;
	color:#000000;
	background-color:#FFFFFF;
	z-index:0;
	text-align:center;
	
}

#nav ul {
	margin:0;
	padding:inherit;
	z-index:0;
	float:left;
	
}

#nav li {
	list-style:none;
	display:inline;
	padding:inherit;
	z-index:0;
	float:left;
	}

#nav li a {
	display:block;
	float:left;
	padding:5px 20px;
	color:#000000;
	text-decoration:none;
	border-right:0px solid #FFFFFF; /* white */
	background-color:#FFFFFF;
	z-index:0;
}

#nav a:hover {
	background-color:#000000; /* black */
	color:#fff;
	z-index:0;
	float:left;
}

#b1 {
	
}

.menu {
	display:none;
	float:right;
	position:relative;
	left:0px;
	top:0px;
	width:50px;
	margin:0px 0px 0px 0px;
	padding:inherit;
	z-index:1;
	font-weight:100;

}

.b2menu {
	display:none;
	float:right;
	position:relative;
	left:0px;
	top:0px;
	width:50px;
	margin:0px 0px 0px 0px;
	padding:inherit;
	z-index:1;
	font-weight:100;

}

.b3menu {
	display:none;
	float:right;
	position:relative;
	left:0px;
	top:0px;
	width:50px;
	margin:0px 0px 0px 0px;
	padding:inherit;
	z-index:1;
	font-weight:100;

}
.b4menu {
	display:none;
	float:right;
	position:relative;
	left:0px;
	top:0px;
	width:50px;
	margin:0px 0px 0px 0px;
	padding:inherit;
	z-index:1;
	font-weight:100;

}
.b5menu {
	display:none;
	float:right;
	position:relative;
	left:0px;
	top:0px;
	width:50px;
	margin:0px 0px 0px 0px;
	padding:inherit;
	z-index:1;
	font-weight:100;

}
.b6menu {
	display:none;
	float:right;
	position:relative;
	left:0px;
	top:0px;
	width:50px;
	margin:0px 0px 0px 0px;
	padding:inherit;
	z-index:1;
	font-weight:100;

}